<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.posenet">

  <uses-permission android:name="android.permission.CAMERA" />

  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />

  <uses-sdk />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_icon"
      android:label="Fyp Test Game"
      android:roundIcon="@drawable/ic_icon"
      android:supportsRtl="true"
      android:theme="@style/MaterialTheme">

      <activity
          android:name=".MainActivity"
          android:exported="true">
          <intent-filter>
              <action android:name="android.intent.action.MAIN"/>
              <category android:name="android.intent.category.LAUNCHER"/>
          </intent-filter>
      </activity>

     <activity
        android:name=".TestActivity"
        android:exported="true">
     </activity>

     <activity
        android:name=".CameraActivity"
        android:exported="true">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN"/>-->
<!--        <category android:name="android.intent.category.LAUNCHER"/>-->
<!--      </intent-filter>-->
     </activity>

     <activity
        android:name=".EatingActivity"
        android:exported="true">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
     </activity>

     <activity
      android:name=".EatingResultActivity"
      android:exported="true">
     </activity>

     <activity
          android:name=".MemoryActivity"
          android:exported="true">
     </activity>

  </application>

</manifest>
